.bloco-texto {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 15%;
    border-radius: 0;
    margin: 0;
    
    position: relative;
    z-index: 1;
    border-left: 4px solid transparent; 
    box-shadow: -15px 0 40px -20px transparent;
    transition: border-color 0.8s ease, box-shadow 0.8s ease;
}

.bloco-texto::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
}

@keyframes coresGirando {
    0% {
        background-position: 0% 0%, 0% 200%;
    }
    100% {
        background-position: 0% 0%, 0% 0%;
    }
}

/* X-FRÁGIL */
.card-hover-verde .bloco-texto::before {
    background:
        linear-gradient(to bottom, transparent 0%, var(--fundo-escuro) 80%),
        linear-gradient(to top, rgba(0, 168, 107, 0.45), rgba(64, 255, 175, 0.45), rgba(0, 168, 107, 0.45));
    background-size: 100% 100%, 100% 200%; 
    animation: coresGirando 4s linear infinite;
}
.card-hover-verde.ativo .bloco-texto {
    border-left-color: var(--cor-verde);
    box-shadow: -15px 0 40px -20px var(--cor-verde);
}
.card-hover-verde.ativo .bloco-texto::before {
    opacity: 1; 
}
.card-hover-verde .btn-link:hover {
    color: var(--cor-verde);
    border-bottom-color: var(--cor-verde);
    text-shadow: 0 0 10px rgba(0, 210, 133, 0.5); 
}


/* ENDFIELD */
.card-hover-amarelo .bloco-texto::before {
    background: 
        linear-gradient(to bottom, transparent 0%, var(--fundo-escuro) 80%),
        linear-gradient(to top, rgba(226, 241, 60, 0.45), rgba(126, 128, 124, 0.45), rgba(226, 241, 60, 0.45));
    background-size: 100% 100%, 100% 200%;
    animation: coresGirando 4s linear infinite;
}
.card-hover-amarelo.ativo .bloco-texto {
    border-left-color: var(--cor-amarelo);
    box-shadow: -15px 0 40px -20px var(--cor-amarelo);
}
.card-hover-amarelo.ativo .bloco-texto::before {
    opacity: 1;
}
.card-hover-amarelo .btn-link:hover {
    color: var(--cor-amarelo);
    border-bottom-color: var(--cor-amarelo);
    text-shadow: 0 0 10px rgba(226, 241, 60, 0.5);
}


/* DAMAS */
.card-hover-ciano .bloco-texto::before {
    background: 
        linear-gradient(to bottom, transparent 0%, var(--fundo-escuro) 80%),
        linear-gradient(to top, rgba(0, 85, 255, 0.45), rgba(0, 229, 255, 0.45), rgba(0, 85, 255, 0.45));
    background-size: 100% 100%, 100% 200%;
    animation: coresGirando 4s linear infinite;
}
.card-hover-ciano.ativo .bloco-texto {
    border-left-color: var(--cor-ciano);
    box-shadow: -15px 0 40px -20px var(--cor-ciano);
}
.card-hover-ciano.ativo .bloco-texto::before {
    opacity: 1;
}
.card-hover-ciano .btn-link:hover {
    color: var(--cor-ciano);
    border-bottom-color: var(--cor-ciano);
    text-shadow: 0 0 10px rgba(0, 229, 255, 0.5);
}

