:root {
    --fundo-escuro: #09090b;
    --texto-principal: #f8fafc;
    --texto-secundario: #94a3b8;
    

    --cor-verde: #00d285;   /* X-Frágil */
    --cor-amarelo: #e2f13c; /* Endfield */
    --cor-ciano: #00e5ff;    /* Damas */

    --cor-rosa: #ff2e93;
    --cor-roxo: #a855f7;
}