:root {
    --fundo-escuro: #09090b;
    --texto-principal: #f8fafc;
    --texto-secundario: #94a3b8;
    
    /* Suas cores maximalistas */
    --cor-rosa: #ff2e93;
    --cor-amarelo: #fbbf24;
    --cor-roxo: #a855f7;
    --cor-azul: #3b82f6;
    --cor-verde: #10b981;
}